body{
    background: linear-gradient(180deg, black 10%, rgb(32, 32, 32) 50%, black 90%);
    background-repeat: no-repeat;
    font-family: cursive;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.flex{
    display: flex;
    background-color: rgba(0, 225, 255, 0.137);
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    padding: 30px 10px;
    border-radius: 3px;
}

.box, .clicked, .clickedPrev{
    display: flex;
    width: 95px;
    height: 140px;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 3px;
    margin: 8px;
    cursor: pointer;
}


.box{
    background-color: rgb(0, 121, 46);
    border: 5px solid rgb(236, 154, 45);
    box-shadow: 4px 4px 4px black;
}

.clicked{
    background-color: rgb(0, 174, 255);
    font-size: 3.5em;
    border: 5px solid rgb(24, 120, 158);
    color: hsl(0, 100%, 44%);
    cursor: default;
    transition: 300ms ease;
}

.clickedPrev{
    background-color: hsl(54, 100%, 45%);
    font-size: 3.5em;
    border: 5px solid hsl(44, 100%, 43%);
    color: hsl(0, 100%, 44%);
    cursor: default;
    transition: 250ms ease;
}

.box:hover{
    background-color: hsl(22, 100%, 60%);
    background-image: url(door1.jpg);
    transition: background-image 150ms ease-out ;
}

#tryAgain{
    text-align: center;
    font-size: 1.5em;
    opacity: 1;
    transition: color 1s ease-in-out;
}

h1{
    color: white;

    font-size: 2.5em;
}

h2{
    color: white;
}

#heading{
    width: 100%;
    text-align: center;
}

.box:hover .numberTag{
    translate: -1px -20px;
    transition: translate 50ms ease-in;
    color: rgb(17, 17, 17);
}


#welcome {
    padding: 20px;
    text-align: center;
}

#nextSection {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff;  
    font-size: 1.5rem;  
    text-align: center;  
    padding: 20px; 
}

#nextSection a {
    display: inline-block; 
    margin: 10px 0; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 1.2rem; 
    transition: background-color 0.3s ease; 
}

#nextSection a:hover {
    background-color: #0056b3; 
}

#welcome {
    position: absolute;
    top: 0;
  }
  
  
#welcome > header:nth-child(1) {
    font-size: 35px;
  }
  

#heading > h1:nth-child(1) {
    font-size: larger;
    position: relative;
    top: 26%;
    right: 37%;
  }
  

#welcome > header:nth-child(1) > h2:nth-child(1) {
    margin: 0;
  }
  

#welcome > p:nth-child(2) {
    margin: 0;
  }
  
#heading > h2:nth-child(2) {
    font-size: larger;
    position: relative;
    top: 26%;
    left: 37%;
  }
  



