<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="bigContainer">
      <header>Binary versus Qubit</header>

      <div class="content">
        <p id="para" class="para">
          
        </p>
      </div>

      <div class="quiz">
        <div id="hide">
          <button id="toggle" class="hideBtn">▼</button>
        </div>
        <p class="question">
          
        </p>
        <p id="1" class="option"></p>
        <p id="2" class="option"></p>
        <p id="3" class="option"></p>
        <p id="4" class="option"></p>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
